<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>MascoShop</title>
		<link rel="shortcut icon" href="./img/Gatoyperro-removebg-preview.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<link rel="stylesheet" href="css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<img src="./img/Mascoshoop.png">
					</div>

					<div class="container-user">
						<div class="listaDeseo">
							<a href="/deseos"><i class="fa-solid fa-heart"></i></a>
						</div>
						<div class="dropdown">
							<i class="fa-solid fa-user" data-bs-toggle="dropdown"></i>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#" id="configPerfilButton" style="display: none;"><i class="fa-solid fa-address-card"></i> <span>Perfil</span></a></li>
								<li><a class="dropdown-item" href="#" id="configButton" style="display: none;"><i class="fas fa-cog"></i> <span>Configuración</span></a></li>
								<li><a class="dropdown-item" href="/logins" id="loginButton"><i class="fas fa-sign-in-alt"></i> <span>Iniciar Sesión</span></a></li>
								<li><a class="dropdown-item" href="#" id="logoutButton" onclick="signOut()" style="display: none;"><i class="fas fa-sign-out-alt"></i> <span>Cerrar Sesión</span></a></li>
							</ul>
						</div>
						<div class="content-shopping-cart">
							<a href="/carritos"><i class="fa-solid fa-basket-shopping"></i></a>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="wrapper">
				  <form class="search-form">
						<input type="search" placeholder="Buscar..." id="search"/>
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
					<div id="suggestions" class="suggestions"></div>
				  <input type="radio" name="slider" id="menu-btn">
				  <input type="radio" name="slider" id="close-btn">
				  <ul class="nav-links">
					<label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
					<li><a href="/home">Inicio</a></li>
					<li>
					  <a href="/producto" class="desktop-item">Productos</a>
					  <input type="checkbox" id="showMega" class="showMegaInput">
					  <label for="showMega" class="mobile-item">Productos</label>
					  <div class="mega-box">
						<div class="content">
						  <div class="row">
							<img src="img/menubg-comida.jpg" alt="">
						  </div>
						  <div class="row">
							<header>Perros</header>
							<ul class="mega-links">
							  <li><a href="#">Comida Seca</a></li>
							  <li><a href="#">Comida Húmeda</a></li>
							  <li><a href="#">Comida Medicada</a></li>
							</ul>
						  </div>
						  <div class="row">
							<header>Gatos</header>
							<ul class="mega-links">
							  <li><a href="#">Comida Seca</a></li>
							  <li><a href="#">Comida Húmeda</a></li>
							  <li><a href="#">Comida Medicada</a></li>
							</ul>
						  </div>
						  <div class="row">
							<header>Snacks</header>
							<ul class="mega-links">
							  <li><a href="#">Snacks para perros</a></li>
							  <li><a href="#">Snacks para gatos</a></li>
							</ul>
						  </div>
						</div>
					  </div>
					</li>
					<li><a href="/blogs">Blog</a></li>
					<li><a href="/home#gallery">Galeria</a></li>
				  </ul>
				  <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
				</div>
			  </nav>			
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>MascoShop</p>
				<h2>Una filosofía nutricional <br> inspirada en el amor <br> por tus <span class="cambio"></span></h2> 
				<a href="#">Comprar ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
					<i class="fa-solid fa-plane-up"></i>
					<div class="feature-content">
						<span>Envío gratuito a nivel nacional</span>
						<p>En pedido superior a $200</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-wallet"></i>
					<div class="feature-content">
						<span>Contrareembolso</span>
						<p>100% garantía de devolución de dinero</p>
					</div>
				</div>
				
				<div class="card-feature">
					<i class="fa-solid fa-headset"></i>
					<div class="feature-content">
						<span>Servicio al cliente 24/7</span>
						<p>LLámenos 24/7 al 123-456-7890</p>
					</div>
				</div>
			</section>

			<section class="container top-categories">
				<h1 class="heading-1">Mejores Categorías</h1>
				<div class="container-categories">
					<div class="card-category category-moca">
						<p>Comida seca</p>
						<a href="/producto"><span>Ver más</span></a>
					</div>
					<div class="card-category category-expreso">
						<p>Snacks</p>
						<a href="/producto"><span>Ver más</span></a>
					</div>
					<div class="card-category category-capuchino">
						<p>Comida humeda</p>
						<a href="/producto"><span>Ver más</span></a>
					</div>
					<div class="card-category category-medicado">
						<p>Comida medicada</p>
						<a href="/producto"><span>Ver más</span></a>
					</div>
				</div>
			</section>

			<section class="container top-products" id="ofertas">
				<h1 class="heading-1">Mejores Productos</h1>

				<div class="container-options">
					<span class="active">Destacados</span>
				</div>

				<div class="container-products">
					<!-- Producto 1 -->
					<div class="card-product">
						<div class="containers-img">
							<img src="./img/SecoPerro.png"/>
							<div class="button-group">
								<span>
									<div class="add-to-deseo-button"><i class="fa-regular fa-heart"></i></div>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Alimentos secos</h3>
							<span class="add-cart">
								<a href="/producto"><i class="fa-solid fa-shop"></i></a>
							</span>
							<p class="price">$5.80 <span>8.90</span></p>
						</div>
					</div>
					<!-- Producto 2 -->
					<div class="card-product">
						<div class="containers-img">
							<img
								src="./img/AlimentoHumedoPerro.png"
							/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Alimentos humedos</h3>
							<span class="add-cart">
								<a href="/producto"><i class="fa-solid fa-shop"></i></a>
							</span>
							<p class="price">$5.70 <span>$7.30</span></p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="./img/snackGatos.webp"
							/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
							<h3>Snacks</h3>
							<span class="add-cart">
								<a href="/producto"><i class="fa-solid fa-shop"></i></a>
							</span>
							<p class="price">$3.20</p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img src="./img/AlimentoEspecializadoGatos.jpg"/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Alimento especializados</h3>
							<span class="add-cart">
								<a href="/producto"><i class="fa-solid fa-shop"></i></a>
							</span>
							<p class="price">$5.60</p>
						</div>
					</div>
				</div>
			</section>

			<section class="gallery" id="gallery">
				<img src="./img/Gallery-1.jpg" alt="Gallery Img1" class="gallery-img-1"/>
				
				<img
					src="./img/Gallery-2.jpg"
					alt="Gallery Img2"
					class="gallery-img-2"
				/><img
					src="./img/Gallery-3.jpg"
					alt="Gallery Img3"
					class="gallery-img-3"
				/><img
					src="./img/Gallery-4.jpg"
					alt="Gallery Img4"
					class="gallery-img-4"
				/><img
					src="./img/Gallery-5.jpg"
					alt="Gallery Img5"
					class="gallery-img-5"
				/>
			</section>
			<!-- Carousel -->
			<section class="patrocinadores">
				<div class="marcas">
				<img src="img/hills.webp">
				<img src="img/pedrigree.webp">
				<img src="img/royalCanin.avif">
				<img src="img/purina.webp">
				<img src="img/hills.webp">
				<img src="img/pedrigree.webp">
				<img src="img/royalCanin.avif">
				<img src="img/purina.webp">
				</div>
				<div class="marcas">
				<img src="img/hills.webp">
				<img src="img/pedrigree.webp">
				<img src="img/royalCanin.avif">
				<img src="img/purina.webp">
				<img src="img/hills.webp">
				<img src="img/pedrigree.webp">
				<img src="img/royalCanin.avif">
				<img src="img/purina.webp">
				</div>
			</section>
			
			<section class="Desarrolladores">
				<h1 class="heading-1">Desarrolladores</h1>
				<section>
					<div class="swiper mySwiper container">
					  <div class="swiper-wrapper content">
				
						<div class="swiper-slide card">
						  <div class="card-content">
							<div class="image">
							 <img src="./img/Luisa.jpg" alt=""> 
							</div>
				
							<div class="media-icons">
							  <a href="https://github.com/LuisaCcaro" target="_blank"><i class="fab fa-github"></i></a>
							</div>
				
							<div class="name-profession">
							  <span class="name">Luisa Caro</span>
							  <span class="profession">Lider ~ Full Stack</span>
							</div>
				
							<div class="rating">
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							</div>
						  </div>
						</div>
						<div class="swiper-slide card">
						  <div class="card-content">
							<div class="image">
							  <img src="./img/GusP.jpeg" alt=""> 
							</div>
				
							<div class="media-icons">
							  <i class="fab fa-github"></i>
							</div>
				
							<div class="name-profession">
							  <span class="name">Gustavo Montes</span>
							  <span class="profession">Desarrollador BackEnd</span>
							</div>
				
							<div class="rating">
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							</div>
						  </div>
						</div>
						<div class="swiper-slide card">
						  <div class="card-content">
							<div class="image">
						   <img src="./img/ivan.jpg" alt=""> 
							</div>
				
							<div class="media-icons">
							  <a href="https://github.com/Oj-ivn" target="_blank"><i class="fab fa-github"></i></a>
							</div>
				
							<div class="name-profession">
							  <span class="name">Ivan Ojeda</span>
							  <span class="profession">Desarrollador BackEnd</span>
							</div>
				
							<div class="rating">
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							</div>
						  </div>
						</div>
						<div class="swiper-slide card">
						  <div class="card-content">
							<div class="image">
							<img src="./img/frontendImg.jpg" alt=""> 
							</div>
				
							<div class="media-icons">
							  <a href="https://github.com/JossBetancur" target="_blank"><i class="fab fa-github"></i></a>
							</div>
				
							<div class="name-profession">
							  <span class="name">Jostin Betancur</span>
							  <span class="profession">Desarrolldor FrontEnd</span>
							</div>
				
							<div class="rating">
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							  <i class="fas fa-star"></i>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				
					<div class="swiper-button-next"></div>
					  <div class="swiper-button-prev"></div>
					  <div class="swiper-pagination"></div>
				  </section>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>Teléfono: 123-456-7890</li>
							<li>EmaiL: Mascoshoop@support.com</li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="newsletter">
						<p class="title-footer">Boletín</p>

						<form action="/gmail" id="emailForm" class="content" method="POST">
							<p>
								Suscríbete a nuestros boletines ahora y mantente al
								día con nuevas colecciones y ofertas exclusivas.
							</p>
							<input type="email" placeholder="Ingresa el correo aquí..." name="to" required>
							<button type="submit">Suscríbete</button>
						</form>
					</div>
				</div>

				<div class="copyright">
					<p>
						Mascoshop &copy; 2024
					</p>
					<img src="./img/payment.png" alt="Pagos">
				</div>
			</div>
		</footer>


		

		<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="./js/inicio.js"></script>
    	<script src="./js/script.js"></script>
		<script src="js/supaB.js"></script>
		<script src="js/swiper-bundle.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="./js/correo.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</body>
</html>
